<div class="w-full p-4 fixed z-50 bg-white mb-6 border-b drop-shadow-md">
    <h1 class="font-bold pl-7 text-gray-500 text-lg leading-6">MANGA</h1>
    <h1 class="font-bold pl-6 text-gray-400 text-sm">Web Novel</h1>
</div>