<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div class="w-full">
            <%- include('partials/header') %>
            <div class="flex justify-center ">
                <div class="main-container">
                   
                        <div class="w-full px-6 h-screen flex justify-center items-center">
                            <p class="title "><%= message %></p>
                        
                        </div>
                </div>

            </div>
            
            <%- include('partials/footer') %>
            
        </div>
    </body>
</html>